---
title: Welcome to Tameez
layout: default
syntax: kramdown
---
<p class="lead">Teach your ear to distinguish Arabic sounds with instant feedback.<br/>Press one of the links below to get started.</p>

<p class="text-muted"><i>Colors suggest what level of difficulty to expect.</i></p>


<ul class="list-unstyled">
    {% for node in site.arabic %}
    <a type="button" class="btn btn-block{% if node.colorclass %} btn-{{ node.colorclass }}-outline{% else %} btn-success-outline{% endif %}" href="{{node.url | prepend: site.baseurl }}" style="font-size:200%">{{node.title}}</a>
    {% endfor %}
</ul>
