<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }} <small>{{ site.subtitle}}</small></h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <b>Licensing</b><br/>
          <li>&copy; 2016 <a href="mailto:{{ site.email }}">Jakub Szypulka</a></li>
          <li><a href="https://www.gnu.org/licenses/gpl.txt"><img src="{{ "/static/code.png" | prepend: site.baseurl }}"></a></li>
          <li><a href="http://creativecommons.org/licenses/by-nc/4.0/legalcode"><img src="{{ "/static/audio.png" | prepend: site.baseurl }}"/></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <b>Contribute</b><br/>
          code and audio
          <li><a href="http://github.com/jaksz/tameez"><img src="{{ "/static/github.png" | prepend: site.baseurl }}"/></a></li>

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <b>Report issues</b>
          <a class="github-button" href="https://github.com/jaksz/tameez/issues" data-icon="octicon-issue-opened" data-count-api="/repos/jaksz/tameez#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue jaksz/tameez on GitHub">Issue</a></li>

        </ul>
      </div>

      <!-- <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div> -->
    </div>

  </div>

</footer>
