---
layout: default
---
<div class="container" style="text-align:center">
<i>currently practicing</i><br/>
<br/>

<div id="waveform"></div>

<p>Press what you hear:</p>

<div class="container" id="buttons">

<script type="text/javascript">


var words = {{ page.words | jsonify }};

words = _.toArray(words);
random_word = _.sample(words);
random_spelling = random_word.spelling;
random_pronounciation_file = _.sample(random_word.pronounciations).file;

words = words.sort()



for (word in words) {
  if (words[word].spelling == random_spelling) {
    document.write('<button type="button" class="btn btn-lg btn-warning-outline" id="right_button" onclick="check_word(true)" style="font-size:300%">' + words[word].spelling + '</button> ');
  } else {
    document.write('<button type="button" class="btn btn-lg btn-warning-outline" id="wrong_button" onclick="check_word(false)" style="font-size:300%">' + words[word].spelling + '</button> ');
  }
}


function check_word(result) {
  if (result == true) {
    document.getElementById("buttons").innerHTML=('<div class="alert alert-success" role="alert" onClick="window.location.reload()"><strong>Well done!</strong> You answered correctly:<p style="font-size:500%">' + random_spelling + '</p><small>(Click this field to try again)</small></div>');
  } else {
    document.getElementById("buttons").innerHTML=('<div class="alert alert-danger" role="alert" onClick="window.location.reload()"><strong>Wrong!</strong> You answered incorrectly. The correct word was:<p style="font-size:500%">' + random_spelling + '</p><small>(Click this field to try again)</small></div>');
  }
}


var wavesurfer = WaveSurfer.create({
    container: '#waveform'
});

wavesurfer.load(random_pronounciation_file);
wavesurfer.on('ready', function () {
    wavesurfer.play();
});

</script>

</div>
</div>
