---
layout: default
---

<h3>{{ page.title }}</h3>

<script type="text/javascript">


var words = {{ page.words | jsonify }};

words = _.toArray(words);
random_word = _.sample(words);
random_spelling = random_word.spelling;
random_pronounciation_file = _.sample(random_word.pronounciations).file;

words = words.sort()

document.write('<div class="btn-group" role="group" aria-label="...">');

for (word in words) {
  if (words[word].spelling == random_spelling) {
    document.write('<button type="button" class="btn btn-default" onclick="check_word(true)">' + words[word].spelling + '</button>');
  } else {
    document.write('<button type="button" class="btn btn-default" onclick="check_word(false)">' + words[word].spelling + '</button>');
  }
}
document.write('</div>');

function check_word(result) {
  if (result == true) {
    document.getElementById("result").innerHTML=('<div class="alert alert-success" role="alert">Correct!</div>');
  } else {
    document.getElementById("result").innerHTML=('<div class="alert alert-danger" role="alert">Incorrect!</div>');
  }
}


new Audio(random_pronounciation_file).play();

</script>

<div id="result">
<div class="alert alert-info" role="alert">Press the button that you hear!</div>
</div>
